${yamlencode({
"apiVersion": "k8s.chkk.io/v1beta1",
"kind": "ChkkAgent",
"metadata": {
  "name": "chkk-agent",
  "namespace": "${namespace}",
    },
"spec": {
    "global": merge(
        contains(keys(filter), "rules") ? { 
            "filter": yamlencode(filter),
            } : {},
        chkk_agent_config.secret != null ?
            contains(keys(chkk_agent_config.secret), "accessToken") ? {
                "credentials": {
                    "accessToken": chkk_agent_config.secret.accessToken,
                },
                } : {}
            : {},
        chkk_agent_config.secret != null ? 
            contains(keys(chkk_agent_config.secret), "keyName") && contains(keys(chkk_agent_config.secret), "secretName") ? {
                "credentials": {
                    "accessTokenSecret": {
                        "keyName": chkk_agent_config.secret.keyName,
                        "secretName": chkk_agent_config.secret.secretName,
                    },
                },
                } : {}
            : {},
        cluster_name != "" ? {
            "clusterName": cluster_name,
            } : {},
        cluster_environment != "" ? {
            "clusterEnvironment": cluster_environment,
            } : {},
        ),
    "agentOverride":  merge(
            contains(keys(chkk_agent_config.serviceAccount), "create") ?
                {
                    "createRbac": chkk_agent_config.serviceAccount.create,
                } : {},
            contains(keys(chkk_agent_config.serviceAccount), "name") ? 
                { 
                    "serviceAccountName": chkk_agent_config.serviceAccount.name,
                } : {},

            # ── custom agent image ──
            contains(keys(chkk_agent_config), "agent_image") ? 
                chkk_agent_config.agent_image != null ?
                    contains(keys(chkk_agent_config.agent_image), "name") ?
                        chkk_agent_config.agent_image.name != null ?
                            {
                                "image": {
                                    "name": chkk_agent_config.agent_image.name
                                }
                            } 
                        : {}
                    : {} 
                : {}
            : {},

            # ── custom manager image ──
            contains(keys(chkk_agent_config), "manager_image") ? 
                chkk_agent_config.manager_image != null ?
                    contains(keys(chkk_agent_config.manager_image), "name") ?
                        chkk_agent_config.manager_image.name != null ?
                            {
                                "managerImage": {
                                    "name": chkk_agent_config.manager_image.name
                                }
                            } 
                        : {}
                    : {} 
                : {}
            : {},

            # ── schedule configuration ──
            contains(keys(chkk_agent_config), "schedule") ?
                chkk_agent_config.schedule != null ? {
                    "schedule": chkk_agent_config.schedule
                } : {}
            : {},

        )
    }
})}